.form {
	font-size: 1.3em;
}
.form section {
	border: 2px solid lightgray;
	border-radius: 1em;
	margin: 0.4em;
	padding: 0.3em 1em;
}
.form label { display: block; }
.form input { display: block; border-radius: 0.2em; padding: 0.2em 0.5em; }
.form .message {
	margin: 0em;
	opacity: 0.3;
	font-size: 0.8em;
}
.form section.valid input {
	border-color: #2f982c;
}
.form section.invalid input {
	border-color: #B81C3C;
}
.form section.invalid .message {
	opacity: 1;
	color: #B81C3C;
}

